# 觀察資料分布
* YELP
    * 50 review above 
    * join business, check-in and tips

# Import

In [2]:
import pandas as pd
import json
import numpy as np
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# 導入資料
train_df = pd.read_pickle('/home/adam/Steph_C/my_thesis/data/Train_by_postoal_code_pointwise_v3_3.pkl')
test_df = pd.read_pickle('/home/adam/Steph_C/my_thesis/data/Test_by_postoal_code_pointwise_v3_3.pkl')

In [7]:
train_df.shape , test_df.shape

((5984, 41), (3160, 41))

In [10]:
train_df.head()

,business_id,stars_x,useful,funny,cool,text,date,name,address,city,...,LDA_res_tokens,LDA_loc_tokens,LDA_res_tokens_with_att,LDA_loc_tokens_with_att,cosine_sim,cosine_sim_w_attr,affinity,complementary,affinity_with_att,complementary_with_att
0,aqqZT3wqqhIkuvVxNrnbLg,2.0,0,0,0,Went in a few days ago with co-workers. We've ...,2017-10-14 11:22:09,On The Border Mexican Grill & Cantina,867 US 31 N,Greenwood,...,"[(5, 0.98845774)]","[(4, 0.9978256)]","[(4, 0.802642), (5, 0.18709843)]","[(5, 0.9978257)]",0.000000,0.227017,0.000000,0.000000,0.186692,0.000407
1,AIlLlbE3rMSwZ0H3o27Skg,4.0,0,0,0,I love that this place advertises specials so ...,2018-09-25 19:07:36,On The Border Mexican Grill & Cantina,6001 E 86th St,Indianapolis,...,"[(2, 0.1371431), (5, 0.85650563)]","[(1, 0.23508534), (4, 0.14658262), (5, 0.11972...","[(2, 0.019884402), (4, 0.7554318), (5, 0.21912...","[(0, 0.107174896), (1, 0.13199013), (2, 0.0687...",0.241361,0.593046,0.102547,0.753958,0.188570,0.805872
2,qMPmxv3SjTlb0tAR9PoXSA,5.0,0,0,0,This On the Border was very good. The chips an...,2017-03-27 01:39:35,On The Border Mexican Grill & Cantina,102 Bartlett Ave,Exton,...,"[(2, 0.21629602), (5, 0.7753679)]","[(3, 0.11532474), (6, 0.19611903), (7, 0.41636...","[(2, 0.015604304), (4, 0.675394), (5, 0.157565...","[(0, 0.20839839), (1, 0.065008864), (3, 0.1918...",0.000000,0.547945,0.000000,0.000000,0.154342,0.823801
3,wtnxz8f51VY81Ng8rr_8Dg,2.0,0,0,0,"For a corporate ""Mexican restaurant"", I wasn't...",2017-04-30 17:59:46,On The Border Mexican Grill & Cantina,10299 E US 36,Avon,...,"[(2, 0.14021085), (5, 0.8525141)]","[(7, 0.9912594)]","[(2, 0.04831653), (4, 0.68883026), (5, 0.25648...","[(1, 0.038357954), (3, 0.3979858), (5, 0.40390...",0.000000,0.238851,0.000000,0.000000,0.103596,0.152891
4,AIlLlbE3rMSwZ0H3o27Skg,4.0,0,0,0,I love that this place advertises specials so ...,2018-09-25 19:07:36,On The Border Mexican Grill & Cantina,6001 E 86th St,Indianapolis,...,"[(2, 0.13713603), (5, 0.8565127)]","[(6, 0.9986297)]","[(2, 0.026274756), (4, 0.75162786), (5, 0.2165...","[(0, 0.9986297)]",0.000000,0.0,0.000000,0.000000,0.000000,0.000000

In [16]:
def get_lda_dict(df):
    
    lda_dict = {}
    
    for i in range(len(df)):
        lda_dict[i]={}
        cnt = len(df.LDA_res_tokens[i])-1
        for j in df.LDA_res_tokens[i]:
            lda_dict[i][j[0]]=j[1]
        for j in range(10):
            if j not in lda_dict[i]:
                lda_dict[i][j]=0      
        
    return lda_dict

In [17]:
train_lda_dict = get_lda_dict(train_df)
test_lda_dict = get_lda_dict(test_df)

In [30]:
train_lda_df = pd.DataFrame(train_lda_dict).T[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]
test_lda_df = pd.DataFrame(test_lda_dict).T[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [29]:
train_lda_df

        0    1         2    3    4         5    6         7    8    9
0     0.0  0.0  0.000000  0.0  0.0  0.988458  0.0  0.000000  0.0  0.0
1     0.0  0.0  0.137143  0.0  0.0  0.856506  0.0  0.000000  0.0  0.0
2     0.0  0.0  0.216296  0.0  0.0  0.775368  0.0  0.000000  0.0  0.0
3     0.0  0.0  0.140211  0.0  0.0  0.852514  0.0  0.000000  0.0  0.0
4     0.0  0.0  0.137136  0.0  0.0  0.856513  0.0  0.000000  0.0  0.0
...   ...  ...       ...  ...  ...       ...  ...       ...  ...  ...
5979  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.980365  0.0  0.0
5980  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.985932  0.0  0.0
5981  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.985932  0.0  0.0
5982  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.985932  0.0  0.0
5983  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.985631  0.0  0.0

[5984 rows x 10 columns]

In [31]:
test_lda_df

,0,1,2,3,4,5,6,7,8,9
0,0.0,0.0,0.161909,0.0,0.000000,0.741836,0.0,0.000000,0.078748,0.0
1,0.0,0.0,0.108236,0.0,0.000000,0.813432,0.0,0.000000,0.064327,0.0
2,0.0,0.0,0.106586,0.0,0.156251,0.671295,0.0,0.000000,0.055520,0.0
3,0.0,0.0,0.108538,0.0,0.145136,0.671633,0.0,0.000000,0.064345,0.0
4,0.0,0.0,0.105909,0.0,0.162485,0.671519,0.0,0.000000,0.049738,0.0
...,...,...,...,...,...,...,...,...,...,...
3155,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.972718,0.000000,0.0
3156,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.972718,0.000000,0.0
3157,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.972718,0.000000,0.0
3158,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.972718,0.000000,0.0
3159,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.972718,0.000000,0.0

In [32]:
train_lda_df.to_csv('./train_lda.csv')
test_lda_df.to_csv('./test_lda.csv')