# 論文資料及整理
* YELP
    * EDA
    * 50 review above 
    * join business, check-in and tips

# Import

In [1]:
import pandas as pd
import json
import numpy as np
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt

In [2]:
business_path = '/home/adam/Steph_C/my_thesis/Data/yelp/yelp_academic_dataset_business.json'
checkin_path = '/home/adam/Steph_C/my_thesis/Data/yelp/yelp_academic_dataset_checkin.json'
tip_path = '/home/adam/Steph_C/my_thesis/Data/yelp/yelp_academic_dataset_tip.json'
review_path = '/home/adam/Steph_C/my_thesis/Data/yelp/yelp_academic_dataset_review.json'

# pickle file
business_pk = '/home/adam/Steph_C/my_thesis/Data/yelp/business.pkl'
checkin_pk = '/home/adam/Steph_C/my_thesis/Data/yelp/checkin.pkl'
tip_pk = '/home/adam/Steph_C/my_thesis/Data/yelp/tip.pkl'
review_pk = '/home/adam/Steph_C/my_thesis/Data/yelp/review.pkl'
final_pk = '/home/adam/Steph_C/my_thesis/Data/yelp/final.pkl'

# Load Data

In [3]:
# # unhash this part if necessary

# # load review data
# r_dict = []

# r_dtypes = {"stars": np.float16, 
#             "useful": np.int32, 
#             "funny": np.int32,
#             "cool": np.int32,
#            }
# with open(review_path, "r") as f:
#     reader = pd.read_json(f, orient="records", lines=True, 
#                           dtype=r_dtypes, chunksize=1000)
#     for chunk in reader:
#.        # get 5 years data from '2018-2022'
#         reduced_chunk = chunk.drop(columns=['review_id', 'user_id'])\
#                              .query("date >= '2018-1-01'").query("date <= '2022-12-31'")
#         r_dict.append(reduced_chunk)
    
# r_dict = pd.concat(r_dict, ignore_index=True)

# # load business data
# b_dict =[]

# with open(business_path, "r") as f:
#     reader = pd.read_json(f, orient="records", lines=True, chunksize=1000)
        
#     for chunk in reader:
#         reduced_chunk = chunk.drop(
#             columns=['latitude','longitude'])
#         b_dict.append(reduced_chunk)
    
# b_dict = pd.concat(b_dict, ignore_index=True)

# # load check-in data
# c_dict =[]

# with open(checkin_path, "r") as f:
#     reader = pd.read_json(f, orient="records", lines=True, chunksize=1000)
        
#     for chunk in reader:
# #         reduced_chunk = chunk.drop(
# #             columns=['postal_code','latitude','longitude','is_open','attributes','hours'])
#         c_dict.append(chunk)
    
# c_dict = pd.concat(c_dict, ignore_index=True)

# # load tip data
# t_dict =[]

# with open(tip_path, "r") as f:
#     reader = pd.read_json(f, orient="records", lines=True, chunksize=1000)
        
#     for chunk in reader:
#         reduced_chunk = chunk.drop(
#             columns=['user_id'])
#         t_dict.append(reduced_chunk)
    
# t_dict = pd.concat(t_dict, ignore_index=True)

In [4]:
# business_df = pd.DataFrame(b_dict)
# review_df = pd.DataFrame(r_dict)
# checkin_df = pd.DataFrame(c_dict)
# tip_df = pd.DataFrame(t_dict)

In [5]:
# review_df.to_pickle("../Data/yelp/review.pkl")  
# business_df.to_pickle("../Data/yelp/business.pkl") 
# checkin_df.to_pickle("../Data/yelp/checkin.pkl")  
# tip_df.to_pickle("../Data/yelp/tip.pkl")

# Join tables

In [6]:
# business_df = pd.read_pickle (business_pk)
# review_df = pd.read_pickle(review_pk)
# checkin_df = pd.read_pickle(checkin_pk)
# tip_df = pd.read_pickle(tip_pk)

# print shape
# print(review_df.shape)
# print(business_df.shape)
# print(checkin_df.shape)
# print(tip_df.shape)

In [7]:
#### All sorts of processing 

# # get 50 reviews above 
# review_df = review_df[review_df.groupby('business_id')['business_id'].transform('count')>50]
# print(review_df.shape)

# # get only the open stores
# business_df = business_df[business_df.is_open==1]
# print(business_df.shape)

# # spread the check-in data
# checkin_df = checkin_df.assign(date=checkin_df.date.str.split(','))
# checkin_df = checkin_df.explode('date')
# print(checkin_df.shape)

In [ ]:
# # join tables
# final_df = review_df.merge(business_df, on='business_id')

In [8]:
# drop not restaurants
# drop_l = [final_df.business_id[i] for i in range(len(final_df))if 'Restaurant' not in final_df.categories[i] ]
# drop_l = list(set(drop_l))

# final_df = final_df[~final_df.business_id.isin(drop_l)]
# final_df.shape

# final_df.shape
# final_df.to_pickle("../Data/yelp/final.pkl")

# Pre-process

In [9]:
df = pd.read_pickle(final_pk)

In [10]:
df.head()

,business_id,stars_x,useful,funny,cool,text,date,name,address,city,state,postal_code,stars_y,review_count,is_open,attributes,categories,hours
0,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
1,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"Food is fantastic, service is quite awful! Ca...",2018-03-24 17:50:37,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
2,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,Update: I deducted a star because they no long...,2018-07-21 09:26:33,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
3,XQfwVwDr-v0ZS3_CbbE5Xw,1.0,0,0,0,never coming back here again. all of the glass...,2018-09-08 17:03:53,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
4,XQfwVwDr-v0ZS3_CbbE5Xw,2.0,0,0,0,Unfortunately the weekend chef doesn't know ho...,2018-09-09 14:30:29,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."

# EDA

In [ ]:
# review count by state
# df.state.value_counts()

In [ ]:
# calculate the city number of each state
for i in Counter(df.state):
    tmp = df[df.state==i]
    print(f'State : {i} , city no. : {len(Counter(tmp.city))},\
    restaurant no. : {len(Counter(tmp.name))},')

In [ ]:
# Count the restaurant number in every state
for i in Counter(df.state):
    tmp = df[df.state==i]
    cnt = 0
    print(f'Now state : {i}')
    for j in Counter(tmp.name):
        temp = tmp[tmp.name==j]
        if len(Counter(temp.city))>=3 :
#             print(f'Restaurant : {j} , branches : {Counter(temp.city)}')
            cnt+=1
    print(f'Has {cnt} of restauarants have 3 above branches')

# By State
* Use FL for starters , only 7 seven cities

In [11]:
df = df[df.state == 'FL']

In [12]:
df.shape

(323563, 18)

In [13]:
for_lda_df = df.copy()

In [14]:
for_lda_df.shape

(323563, 18)

In [15]:
# get the restaurants that has branches in at least 3 different cities
for j in Counter(df.name):
    tmp = df[df.name==j]
    if len(Counter(tmp.city))<3:
        df = df.drop(tmp.index)
        df.reset_index()

In [17]:
df.shape

(23630, 18)

In [20]:
for_lda_df[~for_lda_df.name.isin(df.name)]

,business_id,stars_x,useful,funny,cool,text,date,name,address,city,state,postal_code,stars_y,review_count,is_open,attributes,categories,hours
2280,cg4JFJcCxRTTMmcg9O9KtA,1.0,0,1,0,Skip this train wreck if you are looking for d...,2018-02-11 03:11:20,Ava,718 S Howard Ave,Tampa,FL,33606,3.5,544,1,"{'BikeParking': 'True', 'Alcohol': ''full_bar'...","Wine Bars, Desserts, Bars, American (New), Nig...","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
2281,cg4JFJcCxRTTMmcg9O9KtA,4.0,0,0,0,Been here twice and both times we thoroughly e...,2018-07-26 14:30:20,Ava,718 S Howard Ave,Tampa,FL,33606,3.5,544,1,"{'BikeParking': 'True', 'Alcohol': ''full_bar'...","Wine Bars, Desserts, Bars, American (New), Nig...","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
2282,cg4JFJcCxRTTMmcg9O9KtA,5.0,0,0,0,Brunch was lovely at Ava. No wait and fast ser...,2018-08-26 20:32:05,Ava,718 S Howard Ave,Tampa,FL,33606,3.5,544,1,"{'BikeParking': 'True', 'Alcohol': ''full_bar'...","Wine Bars, Desserts, Bars, American (New), Nig...","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
2283,cg4JFJcCxRTTMmcg9O9KtA,3.0,0,0,1,Just walk up and order then go around and wait...,2018-03-24 20:10:35,Ava,718 S Howard Ave,Tampa,FL,33606,3.5,544,1,"{'BikeParking': 'True', 'Alcohol': ''full_bar'...","Wine Bars, Desserts, Bars, American (New), Nig...","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
2284,cg4JFJcCxRTTMmcg9O9KtA,1.0,0,0,0,First time coming and the last time this place...,2018-09-16 00:00:28,Ava,718 S Howard Ave,Tampa,FL,33606,3.5,544,1,"{'BikeParking': 'True', 'Alcohol': ''full_bar'...","Wine Bars, Desserts, Bars, American (New), Nig...","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618159,3TpSuWBTfoHyALIePVpNXw,5.0,0,0,1,The food was delicious. The service was great....,2021-12-23 18:13:40,Crabby's On The Pass,12754 Kingfish Dr,Treasure Island,FL,33706,4.0,86,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Restaurants, American (Traditional), ...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-16:0', ..."
1618160,3TpSuWBTfoHyALIePVpNXw,5.0,0,0,0,New restaurant where Gators was. Really good f...,2021-05-16 21:54:02,Crabby's On The Pass,12754 Kingfish Dr,Treasure Island,FL,33706,4.0,86,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Restaurants, American (Traditional), ...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-16:0', ..."
1618161,3TpSuWBTfoHyALIePVpNXw,4.0,1,0,0,Went here by boat after an afternoon at the sa...,2022-01-04 21:21:26,Crabby's On The Pass,12754 Kingfish Dr,Treasure Island,FL,33706,4.0,86,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Restaurants, American (Traditional), ...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-16:0', ..."
1618162,3TpSuWBTfoHyALIePVpNXw,5.0,0,0,0,"From Minneapolis, MN come down about 1 time a ...",2021-05-29 19:03:51,Crabby's On The Pass,12754 Kingfish Dr,Treasure Island,FL,33706,4.0,86,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Restaurants, American (Traditional), ...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-16:0', ..."
1618163,3TpSuWBTfoHyALIePVpNXw,5.0,0,0,0,We had outstanding service and outstanding foo...,2021-06-23 01:08:24,Crabby's On The Pass,12754 Kingfish Dr,Treasure Island,FL,33706,4.0,86,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Restaurants, American (Traditional), ...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-16:0', ..."

In [ ]:
brand = Counter(df.name)
plt.bar(brand.keys(), brand.values())

In [21]:
df.to_pickle("../Data/yelp/FL_only.pkl")  
for_lda_df.to_pickle("../Data/yelp/LDA_training.pkl")

## Observe the Ratings by Brand

In [ ]:
# # count the cities by one brand 
# for i in Counter(df.name):
#     tmp = df[df.name==i]
#     print(Counter(tmp.city))

In [ ]:
# Count the overall std for each brand
l_= []
for i in Counter(df.name):
    tmp = df[df.name==i]
    dict_ = tmp.stars_x.describe().to_dict()
    dict_['name']=i
    l_.append(dict_)
b = pd.DataFrame(l_)
b

In [ ]:
# Count the std for each brand by city 
l_= []
for i in Counter(df.name):
    tmp = df[df.name==i]
    dict_ = tmp.stars_x.describe().to_dict()
    dict_['name']=i
    l_.append(dict_)
b = pd.DataFrame(l_)
b

## Obeserve the postal code

In [ ]:
len(Counter(df.postal_code))

In [ ]:
len(Counter(df.city))